torch
torchvision
torchaudio
human-body-prior
smplx
tqdm
numpy
einops
pytorch-ignite
typing_extensions
libigl
git+https://github.com/otaheri/chamfer_distance.git
git+https://github.com/otaheri/MANO.git
git+https://github.com/otaheri/bps_torch.git
git+https://github.com/MPI-IS/mesh.git
git+https://github.com/vchoutas/smplx

